body{
    background-color: #008B95; 
    color: white;
    text-align: center; 
}

h1{
    padding: 20px;
    font-size: 40px;
}

#wikiIcon{
    margin-bottom: 12px;
}
#searchContainer{
    margin-top: 25%;  
    padding: 20px;  
    
}
#searchImg:hover{
    cursor: pointer;
}
input[type=text] {
   
    color: white; 
    box-sizing: border-box;
    border: 0 solid #F3953E;
    border-radius: 5px;
    font-size: 16px;
    background-color: #F3953E;
    background-image: url('');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
/*
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
*/
    
    
}
input[type=text]::-webkit-input-placeholder{
    color: #5d5d5d; 
}
/*Style output*/
ul li{
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 2px;
    background: #F3953E; 
    margin-left: -34px;
    margin-bottom: 15px;
    text-align: left; 
    list-style-type:none;  
    
}

ul h3{
    font-size: 22px;
}

ul p{
    font-style: italic;
}

#output a{
    color: white;
    text-decoration: none;
    
}

#output a:hover{
    color:#333333;
}

#footer{
    padding-top: 10px;
    padding-bottom: 30px;
}
#footer a{
    color:white;
    text-decoration: none;
}
#footer a:hover{
    color:#333333; 
}
