body{
    background-color: #1e647e; 
    color: black; 
}
.container{
  padding-top: 30%;      
}
h1{
    padding: 20px; 
}
#searchContainer{
    
    text-align: center;
}
#searchImg:hover{
    cursor: pointer;
}

input[type=text] {
    
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
    font-size: 16px;
    background-color: #1e647e;
    background-image: url('');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    
}

/*
input[type=text]:hover {
    width: 70%;
    
}
*/
input[type=text]:focus {
    width: 70%;
}