body{
    background-color: #1e647e; 
    color: black; 
}
.container{
  padding-top: 20%;      
}
.container-top{
  padding-top: 5%;
    
}
h1{
    padding: 20px; 
}
#searchContainer{
    
    text-align: center;
}

#searchImg:hover{
    cursor: pointer;
}

#searchButton{
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
    font-size: 16px;
    padding: 14px 20px 12px 20px;
    margin-bottom: 5px;
    background-color: #1e647e;
    color:black;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#searchButton:hover{
    background-color: #13495d;
    color:black; 
}

input[type=text] {
    
    width: 220px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
    font-size: 16px;
    background-color: #1e647e;
    background-image: url('');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    
}

/*
input[type=text]:hover {
    width: 70%;
    
}
*/
input[type=text]:focus {
    width: 60%;
}
/*Syle output*/
ul li{
    background: #3f88a3;
    margin: 5px; 
    text-align: left; 
}